{% extends "layout.html" %}

{% block title%}
	Encrypt
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% endblock %}
{% block body %}
	{% include "sidenav.html" %}
	<form action="{{ url_for('encrypt') }}" method="post">
		<div class="form-group offset-3">
			<label class="form-group text-primary"><h4>Select the type of format</h4></label>
    		<div class="form-check">
	    		<input type="radio" class = "form-check-input" id="messageformatfile" rows="10" name="messageformat" value="text" onclick="je();">
	    		<label class="form-check-label" for="file">
	    			File
	  			</label>
  			</div>
  			<div class="form-check">
	    		<input type="radio" class="form-check-input" id="messageformattext" rows="10" name="messageformat" value="file">
	    		<label class="form-check-label" for="text">
	    			Text
	  			</label>
  			</div>
  		</div>
		<div class="form-group offset-1 col-sm-8">
    		<textarea class="form-control" id="messageBox" rows="10" name="message"></textarea>
  		</div>
  		<div class="custom-file form-group offset-1 col-sm-8">
    		<input type="file" class="custom-file-input" required>
    		<label class="custom-file-label" for="fileBox" id="fileBox">Choose file...</label>
    	</div>
  		
{% endblock %}