{% extends "layout.html" %}

{% block title %}
    PGP UI
{% endblock %}

{% block body %}


<div class="container">
    {% if not session['username']%}
      {% if users|length %}
      <p style="float: left; margin-left:5%;">
    Login as:&nbsp;
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User IDs
        </button>
        <div class="dropdown-menu p-20" aria-labelledby="dropdownMenuButton" style="margin-top: 5px;">
            {% for user in users %}
            <form class="px-20 py-10 form-inline" action="{{ url_for('login') }}" method="post">
                <div class="form-group mb-2" style="margin-left: 5px;">
                    <label for="username" class="sr-only">username</label>
                    <input type="text" readonly class="form-control-plaintext" id="username" name ="username" value="{{ user }}">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="passphrase" class="sr-only">Passphrase</label>
                    <input type="password" class="form-control" id="passphrase" name="passphrase" placeholder="Passphrase">
                </div>
                <button type="submit" class="btn btn-primary mb-2" style="margin-right: 10px;">Login</button>
            </form>
            {% endfor %}
        </div>
    </div>
    </p>
    {% endif %}
    <p style="float: left; margin-left:5%;">
    Register here: <a href="{{ url_for('register') }}">Register</a>
    </p>
    {% endif %}
</div>
<div class="offset-2 col-sm-8" style="margin-top: 5%;">
  {% set enc = 'encrypt' %}
    <div class="card-deck mb-10">
    <button  type = "button" class="card bg-secondary" onclick="window.location.href='{{ url_for(enc) }}'" title="Encrypt the message for sending and Sign it for Authenticity">
      <div class="card-body text-center h6" style="color: #fff;" id="enc_sign">
        Encrypt and Sign Message
      </div>
    </button>
    {% set dec = 'dec_veri' %}
    <button  type = "button" class="card bg-secondary" onclick="window.location.href='{{ url_for(dec) }}'" title="Decrypt the received message and Verify its' Authenticity">
      <div class="card-body text-center h6" style="color: #fff;" id="dec_veri">
        Decrypt Message and Verify Signature
      </div>
    </button>
    </div>
</div>
<div class="offset-2 col-sm-8" style="margin-top: 1%;"> 
<div class="card-deck"> 
  {% set revoke = 'revoke_regen' %}
  <button  type = "button" class="card bg-secondary" onclick="window.location.href='{{ url_for(revoke) }}'" title="Revoke your key and Account or Regenerate a new key for yourself">
    <div class="card-body text-center h6" style="color: #fff;" id="rev_reg">
      Revoke/ Regenerate Key
    </div>
  </button>
  {% set prop = 'prop' %}
  <button  type = "button" class="card bg-secondary" onclick="window.location.href='{{ url_for(prop) }}'" title="Find Information about the keys, users and other properties of Usable PGP">
    <div class="card-body text-center text-white h6" id="property">
      Properties
    </div>
  </button>
</div>
</div>
{% endblock %}

