<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Properties</title>
</head>
<style type="text/css">
	body{
		font-family: Helvetica;
	}
	ul#details
	{
		list-style: none;
	}
	ul#details>li{
		clear: left;
		margin-bottom: 70px;
	}
	ul#userlist{
		list-style: none;
	}
	ul#userlist>li{
		list-style: none;
		font-size: 18px;
		margin: 10px;
	}
	
</style>
<body>

<div>
	<ul id="details">
		<li>
			<img src="C:\Users\lenovo\Desktop\PGPimages\PublicKey.png" width="100px" style="float: left">
			<p>
				<h2>PublicKey</h2>
				Size:-	256 bytes
			</p>
		</li>
		<li>
			<img src="C:\Users\lenovo\Desktop\PGPimages\PrivateKey.png" width="100px" style="float: left">
			<p>
				<h2>PrivateKey</h2>
				Size:-	256 bytes
			</p>
		</li>
		<li>
			<p>
				<h2>Algorithms Used</h2>
				Encryption/Decryption:- RSA<br>
				Signature:- RSA<br>
			</p>
		</li>

		<li>
			<h1>Users</h1>
			<ul id="userlist">
				<li>Mahesh Shah</li>
				<li>Vijay Patel</li>
				<li>Mayank Vaidya</li>
				<li>Suraj Sharma</li>
			</ul>
		</li>
	</ul>
</div>

</body>
</html>