<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar navbar-light h1 text-primary">UsablePGP</span>
            {% if users|length %}
                {% set username = users[0] %}
                <a href="{{ url_for('login',username=username) }} "><button class="btn btn-primary">Login</button></a>
            {% else %}
                <a href="{{ url_for('logout') }} "><button class="btn btn-primary">Logout</button></a>
            {% endif %}
        </nav>
        <div class="fluid-container">
            {% block body %}
                
            {% endblock %}
        </div>
    </body>
</html>
