{% extends "layout.html" %}

{% block title %}
    Registeration
{% endblock %}

{% block body %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="row">
            <div class="form-group offset-3 col-sm-6" style="margin-top: 3%;">
                <label for="username" style="font-size: 20px;">Username</label>
                <input type="text" class="form-control" id="username" name = "username" placeholder="Enter Username">
            </div>
        </div>
        <div class="row">
            <div class="form-group offset-3 col-sm-6">
                <label for="password" style = "font-size: 20px;">Password</label>
                <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="form-group offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
