{% extends "layout.html" %}

{% block title %}
    Registeration
{% endblock %}

{% block body %}
    <form action="{{ url_for('register') }}" method="post">

        <div class="form-group">
            <label for="username" style="font-size: 20px;">Username</label>
            <input type="text" class="form-control" id="username" name = "username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password" style = "font-size: 20px;">Password</label>
            <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
