   <div class="vertical-nav">
  	<ul class="nav">
    <li class="nav-item">
      <img src="{{ url_for('static', filename='Icons/Encryption.png') }}" class="nav-link text-dark font-italic" />
    </li>
    <li class="nav-item">
      <img src="{{ url_for('static', filename='Icons/Decryption.png') }}" class="nav-link text-dark font-italic"/>
    </li>
    <li class="nav-item">
      <img src="{{ url_for('static', filename='Icons/Signature_2.png') }}" class="nav-link text-dark font-italic"/>
    </li>
    <li class="nav-item">
      <img src="{{ url_for('static', filename='Icons/Verification_3.png') }}" class="nav-link text-dark font-italic"/>
    </li>
  </ul>

</div>
