   <div class="vertical-nav bg-white" id="sidebar">
  
  
  	<ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="text-primary"></i>
                Encrypt
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="text-primary"></i>
                Decrypt
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="text-primary"></i>
                Verifiy
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="text-primary"></i>
                Sign
            </a>
    </li>
  </ul>

</div>
